<div class="container card p-5" style="margin-top: 8vh; margin-bottom: 8vh">
    <h1 class="text-center">
        Bem-vinda ao SoSo Zap.
        <br>
        <%= link_to "Fale com a SoSo", 
                    chatroom_path(
                        @chatroom_id, 
                        anchor: "message-#{@last_message_id}"
                    ), 
                    class: 'btn btn-primary' %>
    </h1>
    <%= image_tag 'soso.jpg' %>
</div>
