<div class="container card p-5" style="margin-top: 25vh">
    <h1 class="text-center">
        Bem-vinda ao SoSo Zap.
        <br>
        <%= link_to "Fale com a SoSo", chatroom_path(Chatroom.first), class: 'btn btn-primary' %>
    </h1>
</div>